body {
  background-image: url("https://wallpapertag.com/wallpaper/full/6/2/2/198303-gym-background-2278x1521-mac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9); /* Белый с прозрачностью */
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* тень */
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input,
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Закругление углов полей */
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

div {
  margin-bottom: 15px;
}
