@font-face {
  font-family: "Bloodborne";
  src: url("./fonts/Fleshandblood-MVA5x.ttf") format("truetype");
}
h1 {
  margin: 10px 0; /* Убираем лишние отступы для точного центрирования */
  font-size: 2.5rem;
}
header {
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  ); /* Плавный переход градиента */
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation a {
  font-family: "Bloodborne", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease; /* плавный переход */
}
.navigation a:hover {
  color: bisque;
}
.grid-item-adaptive p:hover {
  color: bisque;
  transition: color 0.3s ease;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

body {
  font-family: "Bloodborne", sans-serif;
  color: aliceblue;
  margin: 0;
  background-size: auto;
  background-position: center;
  height: 100vh;
  background-image: url("https://i.ibb.co/4RpXL7N/wallpaperflare-com-wallpaper.jpg");
}

p {
  font-size: larger;
  font-weight: 600;
}

.grid-container-adaptive {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
  grid-auto-rows: 400px;
}

.grid-item-adaptive {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px;
  gap: 10px;
}

.grid-item-adaptive img {
  max-width: 100%; /* изображение не будет вываливаться за контейнер по ширине */
  max-height: 100%; /* изображение не будет вываливаться за контейнер по высоте */
  object-fit: cover; /* масштабируем изображения с сохранением пропорций*/
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* небольшая тень*/
}
.grid-item-adaptive a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* Убираем подчеркивание у текста */
  color: inherit; /* Наследуем цвет текста */
}

.bottom {
  margin: 15px 0 0 0;
  font-size: smaller;
}
